@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* default code or more useful codes */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* custom css start here */
.heder_info {
    display: flex;
    background: #FCEEF1;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
}

.header_title {
    color: #272727;
    font-size: 45px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 25px;
}

.header_info_text {
    width: 510px;
}

.header_para, .para {
    color: #B5ACAE;
    font-size: 11px;
    margin-bottom: 25px;
    line-height: 20px;
}

.btn {
    color: #fff;
    padding: 12px 30px;
    background: #e55473;
    border: none;
    border-radius: 5px;
}

.header_info_img {
    background-image: url(../img/pngwing\ 10.png);
    background-size: cover;
    background-position: bottom right;
    width: 400px;
    height: 500px;
}

/* our featured flowers details css start */
.our_featured_flowers_details {
    margin: 0% 10%;
    padding-top: 120px;
    padding-bottom: 70px;

}

.our_featured_flowers h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.our_featured_flowers p {
    margin-bottom: 40px;
}

.our_featured_flowers {
    text-align: center;
}

.flower_frames {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flower_frame {
    text-align: center;
}

.flower_img {
 width: 380px;
 height: 420px;
 background-color: var(---clr);
 overflow: hidden;
 border-top-right-radius: 50%;
 border-top-left-radius: 50%;
 margin-bottom: 20px;
}

.flower_img img {
    width: 250px;
    padding-top: 75px;
}
.flower_frame a {
    color: #272727;
    font-size: 20px;
    font-weight: 500;
}

/* services area start here */
.services {
    background: #f4f4f4;
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
    text-align: center;
    margin-top: 100px;
    border-radius: 5px;
}

.services {
    align-items: center;
}

.service img {
    width: 60px;
    margin-bottom: 10px;
}

.service p {
    font-size: 16px;
}

/* sale discount area start  */
.discount_area {
    display: flex;
    background: #fdf6f8;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    gap: 150px;
}

.discount_content {
    text-align: center;
}

.discount_content h2 {
    margin-bottom: 10px;
}

.sale_product img {
    width: 250px;
}

.off {
    color: #E55473;
}

/* instagram content area start  */
.instagram_section {
    padding: 100px 0;
    margin: 0% 10%;
}

.instagram_content {
    text-align: center;
}

.instagram_content h2 {
    margin-bottom: 10px;
}

.instagram_content p {
    margin-bottom: 30px;
}

.instagram_images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.instagram_img {
    width: 23%;
}

.instagram_img img {
    width: 285px;
    height: 350px;
    border-radius: 5px;
}

/* subscribe area start here  */
.subscribe_area {
    margin-top: 80px;
    padding: 80px 0;
    text-align: center;
    background-image: url(../img/Rectangle\ 9.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.subscribe_content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.subscribe_btn input {
    border: none;
    padding: 12px 12px;
    width: 500px;
    border-radius: 5px;
    color: #7D7D7D;
    margin-right: 5px;
}

.footer {
    background: #111010;
    padding: 80px 0;
    text-align: center;
}

.footer h2 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
}

.footer h2 span {
    color: #e55473;
}

.footer p {
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 25px;
}